{# This will create the links to navigate between the pages#}
<ul>
    <li>
        <a href = "/lecturerEmployed">Student Employed</a>
    </li>
    <li>
        <a href = "/lecturerJobs">Jobs</a>
    </li>
    <li>
        <a href = "/lecturerCV">Student CV</a>
    </li>
</ul>