{# This is the employed page. this will show the lecturer a list of employed and unemployed students #}
{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Students Employed page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <h1>
        Welcome To the Students employed page
    </h1>

    <p>
        These are the students employed.

        These are the students not employed


    </p>

{% endblock %}