{# This is the cv page. It will allow the user to view student cv's and edit their employment status#}

{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}CV page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <h1>
        Welcome To the CV page
    </h1>

    <p>
        These are the students cv's

        Leave a comment on all cvs here

        Comment on an individuals cv here


    </p>

{% endblock %}