{# This pge creates the links for the student navigation menu #}
<ul>
    <li>
        <a href = "/studentJobs">Jobs</a>
    </li>
    <li>
        <a href = "/studentComment">Comments</a>
    </li>
    <li>
        <a href = "/studentCV">CV</a>
    </li>
</ul>