{# This is the comments page. It will allow the student to read comments made about their cv #}
{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Student Jobs page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <h1>
        Welcome To the comments page
    </h1>

    <p>
        These are the comments made about your cv.


    </p>



{% endblock %}